<div class="cx-dialog-header modal-header">
  <div class="cx-dialog-title modal-title">We're going to log you out</div>
</div>
<div class="cx-dialog-body modal-body">
  <div class="cx-dialog-actions">
    <button
      cxAutoFocus
      class="btn btn-primary btn-block cx-dialog-buttons"
      (click)="closeModal(true)"
    >
      OK
    </button>
    <button
      cxAutoFocus
      class="btn btn-secondary btn-block cx-dialog-buttons"
      (click)="closeModal(false)"
    >
      Don't
    </button>
  </div>
</div>
