$skipComponentStyles: (cx-searchbox, cx-mini-cart);
$styleVersion: 4.0;

header {
    .SiteLogo {
        width: auto;
    }
    
    .SearchBox {
        border: 1px solid lightcyan;
        border-radius: 30px;
        overflow: hidden;
        width: auto;
        margin: auto;
        align-self: center;
        .searchbox {
            padding-left: 20px;
        }
    }

    .MiniCart {
        position: relative;
        .minicart {
            display: flex;
            background: var(--cx-color-primary);
            min-width: 70px;
            height: 47px;
            padding: 10px;
            color: var(--cx-color-inverse);
            text-decoration: none;
            justify-content: space-around;
            &:hover {
                background-color: transparent;
                color: var(--cx-color-primary);
            }
        }
        .minicart-entries {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: var(--cx-color-secondary);
            border: 1px solid lightcyan;
            color: var(--cx-color-inverse);
            min-width: 150px;
            padding: 15px 15px 0;
            .minicart-entries--list {
                font-size: 12px;
                padding-left: 10px;
            }
        }
    }
}

.stock-notification {
    font-size: var(--cx-font-size, 0.875rem);
    font-weight: var(--cx-font-weight-normal);
    line-height: var(--cx-line-height, 1.2222222222);
    color: var(--cx-color-secondary);
    padding: 0 20px;
}

.PreHeader {
    width: calc(100% + 20px);
    margin: 0 -10px;
}
.covid {
    display: block;
    width: 100%;
    height: 44px;
    background-color: bisque;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    color: red;
}
