<ng-template cxOutletRef="SiteLogo" let-model>
  <a routerLink="">
    <img src="https://picsum.photos/200/100" />
  </a>
</ng-template>

<ng-template cxOutletRef="PDP.SUMMARY" let-model>
  <pre>My new new summary</pre>
</ng-template>

<ng-template cxOutletRef="PDP.PRICE" let-model>
  <code>100000 mln ($)</code>
  <p>{{ (stock$ | async)?.tags }}</p>
</ng-template>

<ng-template cxOutletRef="PDP.STOCK" let-model>
  <pre>{{ (stock$ | async)?.stock?.stockLevelStatus }}</pre>
</ng-template>

<ng-template cxOutletRef="MiniCart">
  <a
    class="minicart"
    (mouseenter)="showCartEntries = true"
    (mouseleave)="showCartEntries = false"
    aria-label="{(cartEntries$ | async)?.length} item currently in your cart"
    href="/electronics-spa/en/USD/cart"
  >
    <span class="cx-icon fas fa-shopping-cart"></span>
    <span class="count">
      {{
        (cartEntries$ | async)?.totalItems === 0
          ? 0
          : (cartEntries$ | async)?.totalUnitCount
      }}
    </span>
  </a>
  <div
    class="minicart-entries"
    *ngIf="showCartEntries && (cartEntries$ | async)?.totalItems"
  >
    <ul
      class="minicart-entries--list"
      *ngFor="let entries of (cartEntries$ | async)?.entries"
    >
      <li>
        {{ entries?.product?.name }} - {{ entries?.totalPrice?.formattedValue }}
      </li>
    </ul>
  </div>
</ng-template>

<!-- ----- -->

<ng-template cxOutletRef="StockNotificationComponent" let-model>
  <div class="stock-notification">
    {{ (stockNotification$ | async)?.[0] }} item(s) already in cart
  </div>
</ng-template>

<ng-template *ngIf="config.isCovid" cxOutletRef="PreHeader" let-model>
  <div class="covid">Covid warning.</div>
</ng-template>
