.config-debug {
    display: block;
    box-sizing: content-box;
    width: 100%;
    height: 30px;
    padding: 30px;
    line-height: 30px;
    text-align: center;
    background-color: ghostwhite;
    color: rebeccapurple;
}